################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

**/bin
/IPEK.Courses.Server/bin/Debug/net8.0/IPEK.Courses.Server.deps.json
