@use 'sass:color'

$black-color: #000
$gray-color: #4D5061
$white-color: #FFFFFF
$blue-color: #1E90FF
$red-color: #DB515F
$orange-color: #FBBA23
$green-color: #67CC2F
$transition: all 0.4s

@font-face
	font-family: 'Roboto'
	src: url('./common/assets/fonts/Roboto.ttf')

@font-face
	font-family: 'Sans'
	src: url('./common/assets/fonts/SrbijaSans.otf')

@font-face
	font-family: 'Ubuntu'
	src: url('./common/assets/fonts/UbuntuMono-Regular.ttf')

$Roboto: 'Roboto'
$Sans: 'Sans'
$Ubuntu: 'Ubuntu'

@mixin stateField($color)
	&:hover
		background: mix(adjust-color($color), white, 20)

@mixin stateBtn($color, $isBlack: false)
	transition: $transition
	$c: white
	@if $isBlack
		$c: black
	&:hover
		background: mix(adjust-color($color), $c, 88)
	&:active
		background: mix(adjust-color($color), $c, 88)
	&:focus
		background: mix(adjust-color($color), $c, 60)
	&:disabled
		background: mix(adjust-color($color), $c, 24)
