black-color = #000;
gray-color = #4D5061;
white-color = #FFFFFF;
blue-color = #1E90FF;
red-color = #DB515F;
orange-color = #FBBA23;
green-color = #67CC2F;

@font-face {
	font-family: 'Roboto';
	src: url('./common/assets/fonts/Roboto.ttf');
}

@font-face {
	font-family: 'Sans';
	src: url('./common/assets/fonts/SrbijaSans.otf');
}

@font-face {
	font-family: 'Ubuntu';
	src: url('./common/assets/fonts/UbuntuMono-Regular.ttf');
}

Roboto = 'Roboto';
Sans = 'Sans';
Ubuntu = 'Ubuntu';

transition() {
	transition: all 0.4s;
}

stateBtn(backgroundColor) {
	transition();

	newColor(alpha) {
		if (backgroundColor == black-color) {
			return transparentify(backgroundColor, #fff, alpha);
		}

		al = 100 - (alpha * 100);
		return darken(backgroundColor, al + '%');
	}

	&:hover {
		background-color: newColor(0.8);
	}

	&:focus {
		background-color: newColor(0.8);
	}

	&:active {
		background-color: newColor(0.6);
	}

	&:disabled {
		background-color: newColor(0.4);
	}
}